:host {
  display: block;
  margin-top: 1rem;
}
mat-spinner {
  margin: auto;
}

mat-paginator{
  margin-top: 1rem;
}

.post-image{
  text-align: center;
}
.post-image img{
  width: 60%;
  height: auto;
}
